services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dados_rfb-etl
    working_dir: /code
    volumes:
      - ../dados_rfb:/code
      - ../dados_rfb_env:/dados_rfb_env:ro
    env_file:
      - ../dados_rfb_env/.env
    environment:
      - TZ=America/Boa_Vista
    restart: no
    mem_limit: 6g
    mem_reservation: 3g
    networks:
      - snfisc-network
networks:
  snfisc-network:
    external: true